<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 footer-contact">
                    <img
                        src="assets/img/vem2025-h.png"
                        style="max-width: 70%; height: auto"
                    />
                    <p>
                        13th Workshop on Software Visualization, Evolution and
                        Maintenance
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li>
                            <i class="bi bi-chevron-right"></i>
                            <a href="/vem2025">Home</a>
                        </li>
                        <li>
                            <i class="bi bi-chevron-right"></i>
                            <a
                                href="https://cbsoft.sbc.org.br/2025/cbsoft/"
                                target="_blank"
                                >CBSOFT 2025</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <div class="social-links mt-3">
                        <a
                            href="https://twitter.com/vemworkshop"
                            class="twitter"
                            target="_blank"
                            ><i class="bi bi-twitter"></i
                        ></a>
                        <a href="mailto:cafeo@unicamp.br" class="email"
                            ><i class="bi bi-envelope"></i
                        ></a>
                        <a href="mailto:juliana@inf.puc-rio.br" class="email"
                            ><i class="bi bi-envelope"></i
                        ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="copyright">
            <b>VEM</b> &copy; 2025 | All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a
            ><br />
            Work illustrations<a href="https://storyset.com/work">
                by Storyset</a
            >
        </div>
    </div>
</footer>
<!-- End Footer -->
