<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
            <a href="index.html">
                <img src="assets/img/vem2026-h.png" alt="" class="img-fluid" />
            </a>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="index.html">Home</a></li>
                <li><a class="nav-link scrollto" href="attending.html">Attending</a></li>
                <li><a class="nav-link scrollto" href="callForPapers.html">Call for Papers</a></li>
                <li><a class="nav-link scrollto" href="keynotes.html">Keynote</a></li>
                <li><a class="nav-link scrollto" href="program.html">Agenda</a></li>
                <!--<li><a class="nav-link scrollto" href="acceptedPapers.html">Accepted Papers</a></li>-->
                <li><a class="nav-link scrollto" href="organization.html">Organization</a></li>
                <li><a class="nav-link scrollto" href="previousEditions.html">Previous Editions</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>